:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.header {
  font-size: larger;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 5px;
}
